

.tbspacer{

	margin: 10px 0;

}

.lrspacer{

	display:inline-block;
	margin: 0px 20px;

}

.toggleBtn {

	display:inline-block;
	width: 64px;
	height: 64px;
	border: 1px-solid;

}

.disable {

	opacity:0.5;

}

.selected {
	color: yellow;
	background-color: black;
}

.subSelected {
	color: white;
	background-color: gray;
}

.inventoryBag {

	background-color: #996633;
	min-height: 300px;
}


#inventory {background: url(images/sack_sm.png) 0 0;}
#inventory.active {background: url(images/sack_sm.png) 0 -64px;}

#pickup {background: url(images/pickup_sm.png) 0 0;}
#pickup.active {background: url(images/pickup_sm.png) 0 -64px;}

#chat {background: url(images/chat_sm.png) 0 0;}
#chat.active {background: url(images/chat_sm.png) 0 -64px;}

#where {background: url(images/where_sm.png) 0 0;}
#where.active {background: url(images/where_sm.png) 0 -64px;}

#compass {background: url(images/compass_sm.png) 0 0;}
#compass.active {background: url(images/compass_sm.png) 0 -64px;}

.step#north {background: url(images/up_sm.png) 0 0;}
.step#south {background: url(images/down_sm.png) 0 0;}
.step#west {background: url(images/left_sm.png) 0 0;}
.step#east {background: url(images/right_sm.png) 0 0;}


.step.active#north {background: url(images/up_sm.png) 0 -64px;}
.step.active#south {background: url(images/down_sm.png) 0 -64px;}
.step.active#west {background: url(images/left_sm.png) 0 -64px;}
.step.active#east {background: url(images/right_sm.png) 0 -64px;}


@media (min-width: 768px) { 


	.toggleBtn {

		display:inline-block;
		width: 128px;
		height: 128px;

	}

	#inventory {background: url(images/sack.png) 0 0;}
	#inventory.active {background: url(images/sack.png) 0 -128px;}

	/*#pickup {background: url(images/pickup.png) 0 0;}
	#pickup.active {background: url(images/pickup.png) 0 -128px;}

	#chat {background: url(images/chat.png) 0 0;}
	#chat.active {background: url(images/chat.png) 0 -128px;}*/

	#compass {background: url(images/compass.png) 0 0;}
	#compass.active {background: url(images/compass.png) 0 -128px;}

	#where {background: url(images/where.png) 0 0;}
	#where.active {background: url(images/where.png) 0 -128px;}

	.step#north {background: url(images/up.png) 0 0;}
	.step#south {background: url(images/down.png) 0 0;}
	.step#west {background: url(images/left.png) 0 0;}
	.step#east {background: url(images/right.png) 0 0;}

	.step.active#north {background: url(images/up.png) 0 -128px;}
	.step.active#south {background: url(images/down.png) 0 -128px;}
	.step.active#west {background: url(images/left.png) 0 -128px;}
	.step.active#east {background: url(images/right.png) 0 -128px;}


}

.designerCell{

	position: relative;
	width: 40px;
	height: 40px;
	max-width: 40px;
	max-height: 40px;
	border: 1px solid black;

}

.designerCellInside{
	display:inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	min-width:20px;
	min-height:20px;
	z-index: 800;
}

.topLeft{
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.topRight{
	top: 0px;
	left: 20px;
	z-index: 1000;
}

.bottomRight{
	top: 20px;
	left: 20px;
	z-index: 1000;
}

.bottomLeft{
	top: 20px;
	left: 0px;
	z-index: 1000;
}

#starCell{
	
	background:url(images/star.png); 
	z-index: 100;
}

#crossCell{
	
	background:url(images/multiply.png); 
	z-index: 200;
}

.keyCell{

	width: 20px;
	height: 20px;
	border: 1px solid black;

}


.scrollableColumn{

	height: 750px;
	overflow: auto;

}


.shortScrollableColumn{

	max-height: 150px;
	overflow: auto;

}